<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        <div class="container" id="{{viewId}}">
            {{{body}}}
        </div>
        <script src="{{scriptsUrl}}"></script>
    </body>
</html>
