<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        <div class="container" id="{{containerId}}">
            {{{viewContent}}}
        </div>
        <script src="{{scriptUrl}}"></script>
    </body>
</html>
